.switcherButtonContainer {
    padding: 0.5rem 1rem;
    background: rgb(255, 255, 255);
    // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(135, 135, 135, 0.795);
    border-radius:12px;
}